In [10]:
import pandas as pd

# Load the newly uploaded hotel bookings dataset
df = pd.read_csv("C:/Users/karth/Downloads/Buyogo_assignment/hotel_bookings.csv")
df.info(), df.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

(None,
           hotel  is_canceled  lead_time  arrival_date_year arrival_date_month  \
 0  Resort Hotel            0        342               2015               July
 1  Resort Hotel            0        737               2015               July
 2  Resort Hotel            0          7               2015               July

    arrival_date_week_number  arrival_date_day_of_month  \
 0                        27                          1
 1                        27                          1
 2                        27                          1

    stays_in_weekend_nights  stays_in_week_nights  adults  ...  deposit_type  \
 0                        0                     0       2  ...    No Deposit
 1                        0                     0       2  ...    No Deposit
 2                        0                     1       1  ...    No Deposit

    agent company days_in_waiting_list customer_type   adr  \
 0    NaN     NaN                    0     Transient   0.0
 1    NaN     NaN                    0     Transient   0.0
 2    NaN     NaN                    0     Transient  75.0

    required_car_parking_spaces  total_of_special_requests  reservation_status  \
 0                            0                          0           Check-Out
 1                            0                          0           Check-Out
 2                            0                          0           Check-Out

   reservation_status_date
 0                01-07-15
 1                01-07-15
 2                02-07-15

 [3 rows x 32 columns])

In [ ]:
# Find the month with the highest number of arrivals
# Question: Which month had the highest number of arrivals?
top_month = df['arrival_date_month'].value_counts().idxmax()
top_month

'August'

In [12]:
# Find the most common meal type
# Question: What is the most common meal type?
most_common_meal = df['meal'].value_counts().idxmax()
most_common_meal

'BB'

In [ ]:
# Find the market segment with the most bookings
# Question: Which market segment had the most bookings?
top_market_segment = df['market_segment'].value_counts().idxmax()
top_market_segment

'Online TA'

In [14]:
# Find the most commonly reserved room type
# Question: Which room type is most commonly reserved?
most_reserved_room = df['reserved_room_type'].value_counts().idxmax()
most_reserved_room

'A'

In [15]:
# Find the most common customer type
# Question: What is the most common customer type?
most_common_customer_type = df['customer_type'].value_counts().idxmax()
most_common_customer_type

'Transient'

By using the above data, let's create the test data.

In [16]:
import json

# Define the test set
test_data = [
  {
    "query": "Which month had the highest number of arrivals?",
    "expected_answer": "August"
  },
  {
    "query": "What is the most common meal type?",
    "expected_answer": "BB"
  },
  {
    "query": "Which market segment had the most bookings?",
    "expected_answer": "Online TA"
  },
  {
    "query": "Which room type is most commonly reserved?",
    "expected_answer": "A"
  },
  {
    "query": "What is the most common customer type?",
    "expected_answer": "Transient"
  }
]

In [17]:
# Save to JSON file
test_set_path = "hotel_booking_eval_test_set.json"
with open(test_set_path, "w") as f:
    json.dump(test_data, f, indent=2)

In [18]:
test_set_path

'hotel_booking_eval_test_set.json'